body {
    background-color: #f0f2f5;
    
}


#bio {
    max-width: 800px; 
    margin: auto; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#bio h2 {
    color: #333; 
    margin-top: 20px;
}

.profile-pic {
    max-width: 100px; 
    border-radius: 50%; 
    float: left; 
    margin-right: 20px; 
}

#bio p {
    text-align: justify; 
    line-height: 1.6; 
}

#bio a {
    color: #007bff; 
    text-decoration: none; 
}

#bio a:hover {
    text-decoration: underline; 
}


